body {
    margin: 0px;
    background: #ccc;

}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

input {
    display: block;
}

.container {
background-image: url("./background-g8d462846a_1920.jpg");
height: 100vh;
width: 100vw;
background-position: cover;
background-size: cover;

}

.button-creator {
    display: grid;
    gap: 30px;
    padding: 30px;
    grid-template-columns: 200px 1fr;
}

#controles {
    font-family: 'IMB Plex Mono', monospace;
    font-size: .875rem;
    background: rgb(238, 238, 238,0.7);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.1);
}

.css {
    font-family: 'IMB Plex Mono', monospace;
    color: #333;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.css span {
    display: block;
    margin-bottom: .5rem;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    opacity: .8;
}